<div class="site-prefooter">
	<div class="wrap section grid">
		<div class="half">
			<h3>
				Sede Operativa
			</h3>
			<ul>
				<li>
					Via Olimpia, 3/A
				</li>
				<li>
					24067 Sarnico (BG)
				</li>
			</ul>
		</div>
		<div class="half">
			<h3>
				Contatti
			</h3>
			<ul>
				<li>
					tel. +39 030 77 77 827
				</li>
				<li>
					<a href="mailto:info@cloveral.com">info@cloveral.com</a>
				</li>
			</ul>
		</div>
		<div class="four">
			<h3>
				Privacy
			</h3>
			<ul>
				<li>
					<a href="https://www.iubenda.com/privacy-policy/8217833">
						Privacy
					</a>
				</li>
				<li>
					<a href="https://www.iubenda.com/privacy-policy/8217833/cookie-policy">
						Cookie law
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<footer class="site-footer">
	<div class="wrap">
		<p class="dati-aziendali">
			Cloveral Srl - Sede legale: Via Mons. G. Bonomelli, 15 25040 Corte Franca (BS) - CF e P.IVA: 03864200989
		</p>
	</div>
</footer>