<div class="site-prefooter">
	<div class="wrap section grid">
		<div class="half">
			<h3>
				Operational Headquarters
			</h3>
			<ul>
				<li>
					Via Crocefisso, 9
				</li>
				<li>
					25040 Corte Franca (BS)
				</li>
			</ul>
		</div>
		<div class="half">
			<h3>
				Contacts
			</h3>
			<ul>
				<li>
					phone. +39 030 2074939
				</li>
				<li>
					<a href="mailto:info@cloveral.com">info@cloveral.com</a>
				</li>
			</ul>
		</div>
		<div class="four">
			<h3>
				Privacy
			</h3>
			<ul>
				<li>
					<a href="https://www.iubenda.com/privacy-policy/8218858">
						Privacy
					</a>
				</li>
				<li>
					<a href="https://www.iubenda.com/privacy-policy/8218858/cookie-policy">
						Cookie law
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<footer class="site-footer">
	<div class="wrap">
		<p class="dati-aziendali">
			Cloveral Srl - Registerd Office: Via Mons. G. Bonomelli, 15 25040 Corte Franca (BS) - VAT ID: IT03864200989
		</p>
	</div>
</footer>