$color_brand_blue: #12a89d;
$color_brand_green: #7abb5f;
$color_grey: #58595b;
$color_black: #3b3a39;

$color_error: #e84c18;

$font_base: 'Open Sans', sans-serif;

$wrap_size: 1100px;
$gutter_col: 20px;